<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEVMpVTIB7x1lF6DzHIEJ-t02-2G0T2ww</string>
	<key>GCM_SENDER_ID</key>
	<string>585371283341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guru161.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-11e8c</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-11e8c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585371283341:ios:4129bda51ab653d4f597c4</string>
</dict>
</plist>